<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>博宇の小巢</h2>
        </header>
        <p>Hi, 我是<strong>邵博宇</strong>, 一名测试工程师
        <br />
        这是我的个人博客，这里将记载我
        <br />
        学习和工作上的收获.
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">READ NOW</a></li>
            </ul>
        </footer>

    </div>

</section>